rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // السماح الكامل مؤقتًا أثناء التطوير
    match /{document=**} {
      allow read, write: if true;
    }
  }
}