rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    // السماح الكامل مؤقتًا أثناء التطوير
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}